streamlit==1.33.0
psycopg2-binary==2.9.9
pandas==2.2.2
langchain==0.1.16
langchain-community==0.0.36
langchain-core==0.1.50
langchain-ollama==0.1.6
openai-whisper==20230314
nltk==3.8.1
rouge-score==0.1.2
evaluate==0.4.1
sounddevice==0.4.6
scipy==1.12.0
numpy==1.26.4
scikit-learn==1.4.2
fuzzywuzzy==0.18.0
pdfplumber==0.10.2
python-dotenv==1.0.1
